<md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length || filter.show">
        <div class="md-toolbar-tools">
            <span>List</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="loadUserList()">
                <md-icon>refresh</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="filter.show = true">
                <md-icon>filter_list</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="addUser($event)">
                <md-icon>account_circle</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="showFilterDetails()">
                <md-icon>more_vert</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex name="filter.form">
                <input type="text" md-autofocus ng-model="query.filter" ng-model-options="filter.options"
                       placeholder="search">
            </form>
            <md-button class="md-icon-button" ng-click="removeFilter()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="deleteUser($event)">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table ng-init="loadUserList()" md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}"
               ng-model="selected"
               md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
                <th md-column><span>Edit</span></th>
                <th md-column md-order-by="name"><span>Name</span></th>
                <th md-column md-order-by="phone"><span>Phone</span></th>
                <th md-column md-order-by="address"><span>Address</span></th>
                <th md-column md-order-by="type"><span>Type</span></th>
                <th md-column md-order-by="block"><span>Status</span></th>
                <th md-column md-order-by="create_date" hide-gt-xs show-gt-md><span>Create date</span></th>
                <th md-column md-order-by="update_date" hide-gt-xs show-gt-md><span>Update date</span></th>
                <th md-column md-order-by="author" hide-gt-xs show-gt-md><span>Author</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row class="md-row-filter" ng-if="filterDetail">
                <td md-cell></td>
                <td md-cell>
                    <input flex ng-model="filterDetails.name" style="width: 90px;">
                </td>
                <td md-cell>
                    <input flex ng-model="filterDetails.phone" style="width: 90px;">
                </td>
                <td md-cell>
                    <input flex ng-model="filterDetails.address" style="width: 90px;">
                </td>
                <td md-cell>
                    <md-select ng-model="filterSelect.type" placeholder="Type" style="width: 40px;">
                        <md-option ng-repeat="type in getTypes()" ng-value="type">{{type}}</md-option>
                    </md-select>
                </td>
                <td md-cell>
                    <md-select ng-model="filterSelect.block" placeholder="Status" style="width: 40px;">
                        <md-option ng-repeat="block in getBlocks()" ng-value="block">{{block}}</md-option>
                    </md-select>
                </td>
                <td md-cell hide-gt-xs show-gt-md>
                    <md-datepicker ng-model="filterDate.createDate" md-placeholder="Enter date">
                    </md-datepicker>
                </td>
                <td md-cell hide-gt-xs show-gt-md>
                    <md-datepicker ng-model="filterDate.updateDate" md-placeholder="Enter date">
                    </md-datepicker>
                </td>
                <td md-cell hide-gt-xs show-gt-md>
                    <input ng-model="filterDetails.author" placeholder="Author" style="width: 90px;">
                </td>
            </tr>
            <tr md-row md-select="user" md-on-select="logItem" md-auto-select="options.autoSelect"
                ng-repeat="user in users.data | filter: query.filter | filter: filterDetails | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit"
                ng-disabled="user.pid=='admin'">
                <td md-cell ng-click="editUser($event, user)">
                    <md-button
                            title="Edit user"
                            ng-disabled="false"
                            aria-label="Edit user"
                            class="md-icon-button launch">
                        <md-icon>mode_edit</md-icon>
                    </md-button>
                </td>
                <td md-cell>{{user.name}}</td>
                <td md-cell>{{user.phone}}</td>
                <td md-cell>{{user.address}}</td>
                <td md-cell>{{getTypes()[user.type]}}</td>
                <td md-cell>{{getBlocks()[user.block]}}</td>
                <td md-cell hide-gt-xs show-gt-md>{{user.create_date}}</td>
                <td md-cell hide-gt-xs show-gt-md>{{user.update_date}}</td>
                <td md-cell hide-gt-xs show-gt-md>{{user.author}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                         md-total="{{users.data.length}}" md-page-select="options.pageSelect"
                         md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
</md-card>